<div class="wrapper">
    <nav>
        <div class="container">
            <div class="navigation">
                <img class="logo" src="assets/0.jpg" alt="Logo">

                <ul class="nav">
                    <li><a routerLink="" routerLinkActive="active">Главная</a></li>
                    <li><a routerLink="/login" routerLinkActive="active">login</a></li>
                    <li><a routerLink="/news" routerLinkActive="active">news</a></li>
                    <li><a routerLink="/profile" routerLinkActive="active">profile</a></li>
                    <li><a routerLink="/logOut" routerLinkActive="active">logOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>