.wrapper {
    background: blue;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45px;
    color: white;
    font-size: 2em;
}
ul > li > a {
    margin-right: 1em;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

}
.logo {
    padding: 5px;
    width: 70px;
}