<div class="container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" formControlName="userName" class="form-control" />
      <div *ngIf="f.userName.touched && f.userName.invalid" class="alert alert-danger"> Pleaser enter name
        <div *ngIf="f.userName.errors.required" class="invalid-feedback">User name is required </div>
        <div *ngIf="f.userName.errors.minlength">Name should be 3 character.</div>
      </div>

    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" formControlName="email" class="form-control" />
      <div *ngIf="f.email.errors" class="alert alert-danger">
        <div *ngIf="f.email.errors.required">Email is required.</div>
        <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [formControl]="loginForm.controls['password']" class="form-control" />

      <div *ngIf="f.password.touched && f.password.errors " class="alert alert-danger">
        <div *ngIf="f.password.errors.required" class="">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Min lenght 5 </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input matInput type="password" placeholder="Confirm password"
        [formControl]="loginForm.controls['confirmPassword']" class="form-control" [errorStateMatcher]="matcher">
      <div *ngIf="f.confirmPassword.touched && f.confirmPassword.value != f.password.value" class="alert alert-danger">
        Password and Confirm Password must be match.</div>

    </div>

    <div class="form-group">
      <button (click)='submitForm()' [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
      

      <button (click)='cancelForm()'  class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Reset forms
      </button>
    </div>
  </form>
</div>